body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #435a70;
    display: grid;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/homepage.jpeg") center/cover no-repeat;
}


.container1{
    text-align: right;
    padding: 20px;
    font-size: 20px;
}

.headcontainer img{
    max-width: 250px;
    max-height: 150px;
    float: inline-start;
    padding: 5px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
}

.newheader{
    min-height: 150px;
    text-align: center;
    border-radius: 5px;
    background: radial-gradient(ellipse at top, #a6a4a4, transparent), radial-gradient(ellipse at bottom, #ffffff, transparent);
    border: solid 2px #000000;
}


.nav-container{
    margin-top: 70px;
    margin-left: 10px;
    word-spacing: 10px;
    letter-spacing: 1.8px;
}


nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

.nav-link{
    color: var(--black-1);
    cursor: pointer;
}

.nav-link:hover{
    font-size: 22px;
    color: white;
}

.sticky{
    position: sticky;
    position: -webkit-sticky;

}

.information{
    display: flex;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
    word-spacing: 1px;
    line-height: 25px;
}

.information .About{
    margin-right: 10px;
    border: solid black 1px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #ffffffb2;

}

.information .History{
    margin-left: 10px;
    border: solid black 1px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #ffffffb2;

}
.populardishes{
    text-align: center;
    margin-top: 60px;
    background: #ffffffb2;
    border: solid black 1px;
    border-radius: 5px;
}

.dishes{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dishes .flex1{
    flex: 2;
    max-width: 350px;
    margin: 10px;
}
.dishes .flex2{
    flex: 1;
    max-width: 350px;
    margin: 30px;

}
.dishes .flex3{
    flex: 2;
    max-width: 350px;
    margin: 10px;

}

h2{
    text-decoration: underline;
}

.Menuhead{
    text-align: center;
    font-size: 3em;
    color: white;
    margin-top: 40px;
}

.SoupsSalads{
    text-align: center;
    margin-top: 30px;
    background: #ffffff89;
    border: 2px solid white;

}

.Appetizers{
    text-align: center;
    background: #ffffff89;
    border: 2px solid white;
    margin-top: 50px;
}

.menuflex{
    display: flex;
    text-align: center;
    border-bottom: dotted black 2px;
    margin-bottom: 30px;
    background: #ffffff89;
    border: 2px solid white;
    margin-top: 50px;

}

.menuflex .Pasta{
    flex:1;
    margin-right: 7px;
    margin-left: 30px;
    padding: 10px;
}

.menuflex .Entrees{
    flex:1;
    margin-left: 7px;
    margin-right: 30px;
    padding: 10px;
    border-left: dotted white 2px;

}

.reservebody{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/banner-img.jpeg") center/cover no-repeat;

    
}
.banner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
}

.reservebody .newheader{
    background: linear-gradient(rgba(255, 255, 255, 0.233),rgba(255, 255, 255, 0.185)), center/cover no-repeat;
    border: none;
}

.banner h1{
    font-size: 2.8em;
    margin-bottom: 5px;
    margin-top: -150px;
}


.banner .smalltitle{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

.reservationcontent{
   background: #fff;
   height: 350px;
}

.reservationcontent h3{
    text-align: center;
    color: #000;
    padding: 10px 0 0 0;
    font-size: 40px;
}

.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

form select, form input{
    display: block;
    width: 100%;
    margin: 13px 18px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
}

form input[type = text], form input[type = number], form input::placeholder,select{
    color: #9a9a9a;
}

form input[type=submit]{
    color: #fff;
    background: coral;
    border-radius: 4px;
    cursor: pointer;
}

form input[type = submit]:hover{
    opacity: 0.9;
}